@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b8b8b8;
  font-family: 'Cinzel', serif;
  margin: 0 auto;
}

.full-container {
  margin: 0 auto;
}
